@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


*{
    font-family: var(--fonte1);
    }

body,html{
    margin: 0%;
}    
    
header{
    background-color: black;
    text-align: center;
    min-height: 25vw;
}

header h1{
    margin: 0%;
    padding-top: 6%;
    color: white;
    font-family: var(--fonte3);
    font-weight: bolder;
    font-size: 9vw;
    font-variant: small-caps;
}

header nav > a{
    text-decoration-line: none;
    color: white;
    padding-top: 1%;
}

main section.normal p{
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 6vw;
    margin: 6% 0% 5% 5%;
}

main section#imagem1{
    background-image: url(../imagens/flor.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
}

main section#imagem1 p{
    font-family: var(--fonte3);
    font-size: 2vw;
    font-weight: 600;
    background-color: rgba(19, 19, 19, 0.644);
    color: white;
    line-height: 250%;
    margin-left: 5vw;
    padding: 10px 15px;
    border-radius: 3px;
    border-style: none none none solid;
    border-color: rgba(255, 255, 255, 0.61);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

main section#imagem2{
    background-image: url(../imagens/livro.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cver;
    min-height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
}

main section#imagem2 p{
    font-family: var(--fonte3);
    font-size: 2vw;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    line-height: 250%;
    margin-left: 5vw;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none none none solid;
    border-color: rgba(250, 250, 250);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

footer > a{
    text-decoration: none;
    color: white;
}

footer > a:hover{
    text-decoration: underline;
    color: white;
}

footer > a:active{
    color: white;
}